<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Reuniões
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">  
    <ion-toolbar>
      <ion-title size="large">Lista de Reuniões</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
<!--  
  <div style="text-align:center">
    <h1>
      Lista de compras
    </h1>
  </div> -->
  <ul>
    <li *ngFor="let item of datas">
        <h2>{{ item.nome_reuniao }} {{item.data_reuniao}}</h2>
    </li>
  </ul>

  {{ error?.message }}


</ion-content>
